.grid-container {
  grid-template-columns: max-content;
  justify-content: left;
}

.grid-item {
  grid-row: 1;
  padding: 10px;
}

.btn {
  background-color: #e79703;
  width: 8vw;
  outline: none;
  border: none;
  transition: all 0.4s;
  cursor: pointer;
  border-right: solid 1px rgba(0, 0, 0, 0.116);
  grid-row: 1;
  font-size: 0.8rem;
  margin: 5px;
}

.btn:hover {
  background-color: #cc8502;
  color: #111111;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  transition: background 0.3s;
  background: #cc8502 radial-gradient(circle, transparent 1%, #cc8502 1%) center/15000%;
}
.ripple:active {
  background-color: #f0d383;
  background-size: 100%;
  transition: background 0s;
}
